html {
  background-color: #e8faff;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  font-size: 15px; 
  font-family: "Open Sans", sans-serif;
}

bigheader {
  font weight: 600;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

floatedElement {
    float:left;
    position:relative;
    top:15px;
}
